# CMake related ignore
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps/

# gtest
gtest/

# binaries
bin/

# clang
.clangd

# logs
logs/
results/

# instance and config jsons
*config*.json
instances*.json

# test lines
test_line*
